django~=5.1
django-debug-toolbar~=4.4.6
Pillow
environs[django]~=11.0.0

django-phonenumber-field~=8.0.0

djangorestframework~=3.15.2

phonenumberslite==8.13.40

geopy==2.4.1

requests==2.32.3

rollbar==1.0.0
